@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-1rem); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-1rem); }
}

.animate-fade-in-out {
  animation: fadeInOut 3s ease-in-out forwards;
}